<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminPanel</title>
</head>
<body>
<form action="Admin/getData" method="post">
    <h2>Admin Panel:</h2>
    <br>
    <p>Пользователи:</p>
    <table width='50%' border='1'>
        <tr>
            <td>ID</td>
            <td>Email</td>
            <td>Name</td>
            <td>Age</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <label>
        <br>
        <p><b>Сортировка во возрасту пользователей</b></p>
        <p><input name="sort" type="radio" value="ASC"> По убыванию </p>
        <p><input name="sort" type="radio" value="Desc"> По возрастранию </p>
        <input type="submit" name="users" value="Отсортировать">
        <br> <br>
    </label>
<hr align="left" width="300" color="Red" />
    <p>Загруженные пользователями файлы:</p>
    <label>
       Отбор по ID пользователя <input type="text" name="userid">
    </label>
    <br><br>
    <label>
        <input type="submit" name="files" value="Показать список загруженных файлов">
    </label>
    <table width='50%' border='1'>
        <tr>
            <td>Email</td>
            <td>File</td>
            <td>Filepath</td>
        </tr>
        {% for file in files %}
        <tr>
            <td>{{file.name}}</td>
            <td>{{file.file}}</td>
            <td>{{file.filepath}}</td>
        </tr>
        {% endfor %}
    </table>
<hr align="left" width="300" color="Red" />
<br>
</form>
<form action="Admin/editUsers" method="post">
    <p>Редактирование данных пользователей:</p>
    <p>Введите ID пользователя для редактирования или удаления</p>
    <label>
        <input type="text" name="ID">
    </label>
    <br><br>
    <label>
        <input type="submit" name="change" value="Открыть панель редактирования пользователя">
    </label>
    <br><br>
    <label>
        <input type="submit" name="delete" value="Удалить пользователя">
    </label>
    <br><br>
    <label>
        <input type="submit" name="create" value="Создать нового пользователя">
    </label>
</form>
</body>
</html>