
<h1>Добро пожаловать, {{user.name}}!</h1>
<form  enctype="multipart/form-data"  action="Files/loadAvatar" method="post">
    <img src='/images/{{user.avatar}}' alt="{{user.avatar}}" style= "height: 100px; width: auto;"/>
    <br><br>
    <label>
        <input name="avatar" type="file"  accept="image/jpeg,image/png"/>
    </label>
    <br><br>
    <label>
        <input type="submit" value="Сменить аватарку">
    </label>
    <br><br>
    <p>Информация:</p>
    <label>
        Имя  <input type="text" readonly name="name" value={{user.name}}>
    </label>
    <br><br>
    <label>
        Возраст  <input type="text" readonly name="age" value={{user.age}}>
    </label>
    <br><br>
    <label>
        О себе  <input type="text" readonly name="info" value={{user.info}}>
    </label>
    <br><br>
    <input type="hidden" name="userid" value="{{user.id}}" />
    </form>
<form enctype="multipart/form-data" action="Files/loadPicture" method="post">
    </label>
        <input name="picture" type="file"  accept="image/jpeg,image/png"/>
        <input type="submit" value="Загрузить картинку">
    </label>
    <label>
    <input type="hidden" name="userid" value="{{user.id}}" />
    </label>
    <p>Галерея:</p>
    <ul>
        {% for picture in pictures %}
        <li> Название: {{ picture.file }}</li>
        <img src='/images/{{picture.file}}' alt="{{picture.file}}" style= "height: 100px; width: auto;"/>
        {% endfor %}
    </ul>
    <input type="hidden" name="referer" value="<?= $_SERVER['HTTP_REFERER'] ?>" />
</form>
